<!DOCTYPE html>

<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
    
{% block content %}
        <h2 class="text-xl mb-2">Heart Failure Predictor</h2>
        <table class="border-collapse table-auto w-full text-sm">
            <thead>
                <tr>
                    <th class="px-4 py-2">id</th>
                    <th class="px-4 py-2">Age</th>
                    <th class="px-4 py-2">Sex</th>
                    <th class="px-4 py-2">Chest Pain Type</th>
                    <th class="px-4 py-2">Resting BP</th>
                    <th class="px-4 py-2">Cholesterol</th>
                    <th class="px-4 py-2">Fasting BS</th>
                    <th class="px-4 py-2">Resting ECG</th>
                    <th class="px-4 py-2">Max HR</th>
                    <th class="px-4 py-2">Exercise Angina</th>
                    <th class="px-4 py-2">Old peak</th>
                    <th class="px-4 py-2">ST Slope</th>
                    <th class="px-4 py-2">Heart Disease</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data.values %}
                <tr>
                    <td class="border px-4 py-2">{{ data[0] }}</td>
                    <td class="border px-4 py-2">{{ data[1] }}</td>
                    <td class="border px-4 py-2">{{ data[2] }}</td>
                    <td class="border px-4 py-2">{{ data[3] }}</td>
                    <td class="border px-4 py-2">{{ data[4] }}</td>
                    <td class="border px-4 py-2">{{ data[5] }}</td>
                    <td class="border px-4 py-2">{{ data[6] }}</td>
                    <td class="border px-4 py-2">{{ data[7] }}</td>
                    <td class="border px-4 py-2">{{ data[8] }}</td>
                    <td class="border px-4 py-2">{{ data[9] }}</td>
                    <td class="border px-4 py-2">{{ data[10] }}</td>
                    <td class="border px-4 py-2">{{ data[11] }}</td>
                    <td class="border px-4 py-2">{{ data[12] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
{% endblock %}

</html>