<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Flask app</title>
</head>
<body>
    <div style="flex-direction: column" class="flex items-center justify-center h-screen border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex">
            <h2 class="m-2 mb-1 text-5xl font-medium text-gray-900 dark:text-white m-2">An error occured, please try again!</h2>
        </div>
    </div>
</body>
</html>
