<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Flask app</title>
</head>
<body>
    <div style="flex-direction: column" class="flex items-center justify-center h-screen border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex">
            <h2 class="m-2 mb-1 text-5xl font-medium text-gray-900 dark:text-white m-2">Welcome!</h2>
            <img class="w-12 h-12 m-2" src="https://image.similarpng.com/very-thumbnail/2020/08/human-being-heart-Premium-vector-PNG.png" loading="lazy" alt="human heart">
        </div>
        <div>
            <h5 class="m-2 mb-1 text-lg font-medium text-gray-900 dark:text-white m-2">Sign in with google</h5>
        </div>
        <div class="dark:bg-gray-800">
            <a href="google/" class="m-2 px-4 py-2 border flex gap-2 border-slate-200 dark:border-slate-700 rounded-lg text-slate-700 dark:text-slate-200 hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:hover:text-slate-300 hover:shadow transition duration-150" style="text-decoration:none;">
                <img class="w-6 h-6" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy" alt="google logo">
                <span>Login with Google</span>
            </a>
        </div>
    </div>
</body>
</html>
